.last-updated {
  opacity: 0.8; 
}
.search-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
}

.search-popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  text-align: center;
}
.color_nav{
  color: black !important;
}

.background-home{
  background-image: url(../../img/bg.png);
  background-size: contain;
  background-repeat: no-repeat;
height: 100vh;
}
.icon {
  width: 20px;
  height: 20px; 
  background-image: url('../../img/logowwindowns.png'); 
  background-size: contain;
  background-repeat: no-repeat; 
  margin-right: 8px; 
  display: inline-block; 
}

.test-site-container {
  list-style: none;
  padding: 0; 
  display: flex; 

}

.test-site-container a {
  color: black; 
  text-decoration: none; 
}

.test-site-container li {
  margin: 0 20px; 
}

.price-card {
  box-shadow: 0 1px 16px rgb(0 0 0 / 12%);
  border-radius: 15px;
  padding: 35px 30px;
  text-align: left;
  margin-bottom: 20px;
  background: white;
}
.col-inner {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1 0 auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
}
.uppercase {
  line-height: 1.2;
  text-transform: uppercase;
}
.price-card .price {
  font-size: 1.5em;
  color: #1863AD;
}
.price-card ul {
  list-style-type: none;
  margin: 15px 0px 0px 0px !important;
}

