.header-main {
  height: 64px;
}

.header-sidebar.expends {
  width: 350px;
}

.header-sidebar.collaps {
  width: 100px;
}

.sidebar-sub.expends {
  width: 270px;
  min-width: 270px;
  max-width: 270px;
  transition: width 0.3s ease;
}


.sidebar-sub.collaps {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  transition: width 0.3s ease;
}

.content_sub.collaps {
  width: 100px;
  padding: 0px 10px;
  flex-shrink: 0;
}

.content_sub.expends {
  width: 270px;
  flex-shrink: 0;
}
.content-wrapper {
  flex: 1;
  overflow-y: auto;
}
.w-auto {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden; /* Ngăn nội dung trong Outlet tràn ra */
}
.icon-sub {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-sub img {
  width: 13px;
}

.logo-sidebar-short {
  width: 70px;
  height: auto;
}


.sidebar_main {
  border-right: 1px solid #919eab1f;
  height: 100vh;
}

.sidebar_header,
.content_header {
  height: 64px;
}

.content-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #ffffff;
}

.button_menubar {
  background-color: transparent;
}

.custom-li {
  height: 50px;
  line-height: 50px;
  position: relative;
  transition: all ease-in-out 0.2s;
  padding-left: 25px;
}

.custom-li.active {
  background-color: #24a1de14;
  color: #24a1de;
  transition: all ease-in-out 0s;
}

.custom-li span {
  transition: opacity 0.1s ease;
  position: absolute;
  white-space: nowrap;
}

.sub_siderbar.collapsed .custom-li span {
  opacity: 0;
}

.sub_siderbar.expanded .custom-li span {
  opacity: 1;
}

.custom-li:hover {
  background-color: #24a1de14;
  cursor: pointer;
  color: #24a1de;
}

.menu_user {
  background-color: white;
}

.menu_user li {
  height: 100%;
  line-height: 30px;
  color: black;
}

.menu_user li:hover {
  background-color: rgba(162, 202, 255, 0.712);
}

@media (max-width: 767.98px) {

 
}

