.header-main {
    height: 64px;
}

.header-sidebar.expends {
    width: 350px;
}
.header-sidebar.collaps{
    width: 100px;
}
.sidebar-sub.expends {
    width: 270px;
}
.sidebar-sub.collaps{
    width: 100px;
}
.icon-sub {
    right: 10px;
    top: 12px;
}

.content-sidebar {
    width: 270px;
}