ul {
  list-style-type: none;
  padding-left: 20px;
}

#root > div > div:nth-child(3) > div > div.col-md-3.custom-doc-li > ul > li{
  margin-left: 20px;
}

.rotated {
  transform: rotate(90deg);
}

.last-updated {
  opacity: 0.6;
}

.notice {
  color: red;
  font-weight: bold;
}

.table-container {
  width: 100%;
  margin-top: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #f2f2f2;
}

.custom-hover:hover {
  background-color: aqua;
  color: black;
}