.btn-outline-custom {
  color: #ecf0f1 !important; /* Màu chữ */
  border-color: #24a1de; /* Màu viền */
  background-color: #24a1de !important;
}

.color_nav {
  color: #24a1de !important;
}
.btn-outline-custom:hover {
  background-color: #24a1de; /* Màu nền khi hover */
  color: white; /* Màu chữ khi hover */
}

@media (max-width: 849px) {
  .button-full-width {
    display: block;
    width: 100%; /* Chiếm toàn bộ chiều rộng */
    margin: 10px 0; /* Thêm một chút khoảng cách phía trên và dưới */
  }
}

/* Đảm bảo logo căn sát bên phải */
.logo {
  max-width: 100px; /* Điều chỉnh kích thước của logo nếu cần */
  height: auto; /* Đảm bảo logo giữ đúng tỷ lệ */
  margin-left: auto; /* Đẩy logo sát cạnh phải */
}

/* Sử dụng flexbox để căn chỉnh phần tử */
.navbar .col-md-2 {
  display: flex;
  justify-content: flex-end; /* Đẩy phần tử sang bên phải */
  align-items: center; /* Căn giữa theo chiều dọc */
}

/* Form search căn sát phải */
.form-control {
  max-width: 200px; /* Giới hạn chiều rộng của ô input */
}

